In [ ]:

# univariate multi-step vector-output stacked lstm
from numpy import array
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense
 
# split a univariate sequence into samples
def split_sequence(sequence, n_steps_in, n_steps_out):
	X, y = list(), list()
	for i in range(len(sequence)):
		# find the end of this pattern
		end_ix = i + n_steps_in
		out_end_ix = end_ix + n_steps_out
		# check if we are beyond the sequence
		if out_end_ix > len(sequence):
			break
		# gather input and output parts of the pattern
		seq_x, seq_y = sequence[i:end_ix], sequence[end_ix:out_end_ix]
		X.append(seq_x)
		y.append(seq_y)
	return array(X), array(y)
 
# define input sequence
raw_seq = [10, 20, 30, 40, 50, 60, 70, 80, 90]
# choose a number of time steps
n_steps_in, n_steps_out = 3, 2
# split into samples
X, y = split_sequence(raw_seq, n_steps_in, n_steps_out)
# reshape from [samples, timesteps] into [samples, timesteps, features]
n_features = 1
X = X.reshape((X.shape[0], X.shape[1], n_features))
# define model
model = Sequential()
model.add(LSTM(100, activation='relu', return_sequences=True, input_shape=(n_steps_in, n_features)))
model.add(LSTM(100, activation='relu'))
model.add(Dense(n_steps_out))
model.compile(optimizer='adam', loss='mse')
# fit model
model.fit(X, y, epochs=50, verbose=0)
# demonstrate prediction
x_input = array([70, 80, 90])
x_input = x_input.reshape((1, n_steps_in, n_features))
yhat = model.predict(x_input, verbose=0)
print(yhat)

[[118.61651 134.34572]]

In [ ]:
# univariate multi-step encoder-decoder lstm example
from numpy import array
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense
from keras.layers import RepeatVector
from keras.layers import TimeDistributed

# split a univariate sequence into samples
def split_sequence(sequence, n_steps_in, n_steps_out):
	X, y = list(), list()
	for i in range(len(sequence)):
		# find the end of this pattern
		end_ix = i + n_steps_in
		out_end_ix = end_ix + n_steps_out
		# check if we are beyond the sequence
		if out_end_ix > len(sequence):
			break
		# gather input and output parts of the pattern
		seq_x, seq_y = sequence[i:end_ix], sequence[end_ix:out_end_ix]
		X.append(seq_x)
		y.append(seq_y)
	return array(X), array(y)

# define input sequence
raw_seq = [10, 20, 30, 40, 50, 60, 70, 80, 90]
# choose a number of time steps
n_steps_in, n_steps_out = 3, 2
# split into samples
X, y = split_sequence(raw_seq, n_steps_in, n_steps_out)
# reshape from [samples, timesteps] into [samples, timesteps, features]
n_features = 1
X = X.reshape((X.shape[0], X.shape[1], n_features))
y = y.reshape((y.shape[0], y.shape[1], n_features))
# define model
model = Sequential()
model.add(LSTM(100, activation='relu', input_shape=(n_steps_in, n_features)))
model.add(RepeatVector(n_steps_out))
model.add(LSTM(100, activation='relu', return_sequences=True))
model.add(TimeDistributed(Dense(1)))
model.compile(optimizer='adam', loss='mse')
# fit model
model.fit(X, y, epochs=100, verbose=0)
# demonstrate prediction
x_input = array([70, 80, 90])
x_input = x_input.reshape((1, n_steps_in, n_features))
yhat = model.predict(x_input, verbose=0)
print(yhat)

[[[101.97521 ]
  [114.150734]]]

Implementation try 1.1 for ENCODER-DECODER LSTM

In [17]:
import math
import matplotlib.pyplot as plt
import keras
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout
from keras.layers import *
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from keras.callbacks import EarlyStopping
from google.colab import drive
drive.mount('/content/drive')

df=pd.read_csv("TSLA.csv")
print("Number of rows and columns:", df.shape)
df.head(25)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Number of rows and columns: (1259, 7)

          Date       Open       High        Low      Close  Adj Close    Volume
0   2015-07-10  52.444000  52.599998  51.563999  51.830002  51.830002  13054500
1   2015-07-13  52.450001  52.509998  51.209999  52.431999  52.431999  14801500
2   2015-07-14  52.419998  53.198002  52.102001  53.130001  53.130001   9538000
3   2015-07-15  53.348000  53.498001  52.416000  52.627998  52.627998  10108000
4   2015-07-16  52.844002  53.439999  52.632000  53.335999  53.335999   8080000
5   2015-07-17  54.500000  55.108002  53.650002  54.931999  54.931999  25020500
6   2015-07-20  55.000000  57.330002  54.507999  56.452000  56.452000  24892500
7   2015-07-21  54.009998  54.700001  53.310001  53.354000  53.354000  30543500
8   2015-07-22  52.254002  53.888000  52.172001  53.574001  53.574001  15525000
9   2015-07-23  53.930000  53.980000  53.054001  53.439999  53.439999  11136000
10  2015-07-24  53.476002  54.217999  52.784000  53.082001  53.082001  14182500
11  2015-07-27  52.486000  52.886002  50.158001  50.602001  50.602001  23471000
12  2015-07-28  51.150002  53.080002  50.368000  52.964001  52.964001  19479000
13  2015-07-29  52.854000  53.577999  52.400002  52.764000  52.764000  13950500
14  2015-07-30  52.537998  53.388000  52.422001  53.358002  53.358002  10173000
15  2015-07-31  53.520000  53.872002  53.023998  53.230000  53.230000  11113000
16  2015-08-03  53.257999  53.341999  51.414001  51.998001  51.998001  12767500
17  2015-08-04  52.001999  53.344002  51.667999  53.256001  53.256001  11762500
18  2015-08-05  52.716000  54.200001  52.080002  54.026001  54.026001  31071500
19  2015-08-06  49.908001  51.000000  47.223999  49.226002  49.226002  73119000
20  2015-08-07  48.716000  48.745998  47.678001  48.501999  48.501999  25367000
21  2015-08-10  47.630001  48.594002  47.209999  48.228001  48.228001  20929500
22  2015-08-11  47.430000  47.860001  46.888000  47.473999  47.473999  21324500
23  2015-08-12  47.000000  47.953999  46.548000  47.633999  47.633999  18640000
24  2015-08-13  47.972000  49.296001  47.824001  48.501999  48.501999  23446000